@import "~src/default.scss";

.social-media-icon {
  color: $welcome-color;
  font-size: 1.5em;
  padding: 0 0.5em;
}

.social-media-icon:hover {
  color: $welcome-color;
  background-color: transparent;
  transition: none;
}
