$sans-serif: "Catamaran", Helvetica, Verdana, sans-serif;

$highlight-color-1: #007bff;

$highlight-color-2: #185a9d;

$highlight-color-3: #43cea2;

$default-font-size: 0.9em;

$light-text: 200;

$heavy-text: 600;

$welcome-color: #fff;

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

body {
  font-family: "Catamaran", Helvetica, Verdana, sans-serif;
}

.simple-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.normal-text {
  line-height: 1.5;
  font-weight: $light-text;
}

.light-text {
  font-weight: $light-text;
}

.heavy-text {
  font-weight: $heavy-text;
}

.component {
  padding-bottom: 1.5em;
}
