/* catamaran-200 - latin */
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 200;
  src: local("Catamaran ExtraLight"), local("Catamaran-ExtraLight"), url("./assets/fonts/catamaran-v4-latin-200.woff2") format("woff2"),
    url("./assets/fonts/catamaran-v4-latin-200.woff") format("woff");
}

/* catamaran-regular - latin */
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: local("Catamaran Regular"), local("Catamaran-Regular"), url("./assets/fonts/catamaran-v4-latin-regular.woff2") format("woff2"),
    url("./assets/fonts/catamaran-v4-latin-regular.woff") format("woff");
}

/* catamaran-600 - latin */
@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  src: local("Catamaran SemiBold"), local("Catamaran-SemiBold"), url("./assets/fonts/catamaran-v4-latin-600.woff2") format("woff2"),
    url("./assets/fonts/catamaran-v4-latin-600.woff") format("woff");
}

$sans-serif: "Catamaran", Helvetica, Verdana, sans-serif;

$highlight-color-1: #007bff;

$highlight-color-2: #185a9d;

$highlight-color-3: #43cea2;

$default-font-size: 0.9em;

$light-text: 200;

$heavy-text: 600;

$welcome-color: #fff;

@mixin vendor-prefix($name, $argument) {
  #{$name}: #{$argument};
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
}

body {
  font-family: $sans-serif;
}

div:empty {
  display: none;
}

.simple-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.normal-text {
  line-height: 1.5;
  font-weight: $light-text;
  text-align: justify;
  @include vendor-prefix(hyphens, auto);
}

.light-text {
  line-height: 1.5;
  font-weight: $light-text;
}

.heavy-text {
  font-weight: $heavy-text;
}

.component {
  padding-bottom: 1.5em;
}

:global {
  .moon {
    background-color: #191e27;
    color: #e2e2e2;
  }
}
