@import "index.scss";

.tags ul {
  @extend .simple-list;
  @extend .component;
}

.tags ul li {
  @extend .light-text;
  color: $highlight-color-1;
  font-size: 0.9em;
  border: 1px solid $highlight-color-1;
  border-radius: 3px;
  padding: 2px 7px;
  display: inline-block;
}

.tags ul li:not(:last-child) {
  margin: 0 6px 6px 0;
}
